:root {
  --ss-background: #F8F2ED;
  --ss-surface: #FFFCF9;
  --ss-chrome: #E7E0D9;
  --ss-foreground: #0D0B09;
  --ss-muted-foreground: #534F4C;
  --ss-chrome-foreground: #0D0B09;
  --ss-border: #C1B9B1;
  --ss-primary: #745A00;
  --ss-primary-foreground: #FEFBF9;
  --ss-accent: #5E6324;
  --ss-accent-foreground: #FEFBF9;
  --ss-focus: #745A00;
  --ss-success: #006425;
  --ss-success-foreground: #FEFBF9;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FEFBF9;
  --ss-danger: #902824;
  --ss-danger-foreground: #FEFBF9;
  --ss-primary-50: #FFF8E6;
  --ss-primary-100: #FFEAB2;
  --ss-primary-200: #ECD69B;
  --ss-primary-300: #D4BC7D;
  --ss-primary-400: #B69C57;
  --ss-primary-500: #9B8033;
  --ss-primary-600: #836812;
  --ss-primary-700: #6A5200;
  --ss-primary-800: #4C3B00;
  --ss-primary-900: #312500;
  --ss-primary-950: #181000;
  --ss-accent-50: #F8FDD1;
  --ss-accent-100: #EBF0C2;
  --ss-accent-200: #D7DDAC;
  --ss-accent-300: #BDC390;
  --ss-accent-400: #9EA46C;
  --ss-accent-500: #83894D;
  --ss-accent-600: #6C7135;
  --ss-accent-700: #555A22;
  --ss-accent-800: #3D410C;
  --ss-accent-900: #272900;
  --ss-accent-950: #121300;
}
